@charset "UTF-8";
input {
	margin-top: 20px;
	border: 0px solid #c00;
}

#ma {
height: 230px;
margin-top: 15px;
	border: 1px solid black;
}
#ma:hover {
	box-shadow: darkgrey 5px 1px 10px 5px; 
	cursor: pointer;
}
h1 input{
	margin-left: 20px;
	width: 150px;
	height: 30px;
	background: red;
	border-radius: 3px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #fff;
}
